.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero {
  padding: 15vh 0 0 2vw;
  height: 85vh;
  background-color: #282c34;
  color:antiquewhite;
  text-align: left;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.hero h1 {
  font-size: 4.5em;
  font-weight: 700;
}
.hero p {
  font-size: 2em;
  font-weight: 320;
  
}
.hero button {
  width: 12vw;
  height: 10vh;
  border-radius: 8px;
  font-size: 1.4em;
  font-weight: 500;
 
}
.logo{
  display: flex;
  margin: 0 -5px;
  row-gap: 0;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  opacity: 0.1;

}
.logo .main-logo img {
  height: 40vh;
  width: 40vh;
  justify-content: center;
}
.logo .small-logo img {
  height: 20vh;
  width: 20vh;
}
.logo .main-logo :nth-child(1) {
  left: 85px;
}
.ALL {
  font-size: 1.4em;
  padding-top: 11vh;
  display: flex;
  justify-content: space-around;
  padding-top: 15%;
}
.ALL p {
  font-weight: lighter;
  padding-left: 5%;
  padding-bottom: 2%;
}
.BOX {
  width: 15vw;
  height: 60vh;
  
}

h3{
  padding-left: 6%;
}